Repository SublimeVentures/portal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write

Update staging
  README.md
Due: prettier --write

chore: fix build build staging
  src/lib/context/EnvironmentContext.js
  src/pages/app/index.js
  src/pages/app/vault/investments.js
  src/v2/components/App/Vault/InvestmentCard.js
  src/v2/components/App/Vault/InvestmentsGrid.js
  src/v2/components/App/Vault/InvestmentsList.js
  src/v2/components/ui/dynamic-icon.js
  src/v2/hooks/useInvestmentsData.js
  src/v2/modules/opportunities/SingleOfferCard.js
  src/v2/modules/vault/Announcements.js
Due: eslint --fix --cache, prettier --write

feat: add sepolia for develop env
  src/lib/blockchain.js
  src/lib/wagmi.js
Due: eslint --fix --cache, prettier --write

chore: fix build build staging (#373)
  src/lib/context/EnvironmentContext.js
  src/pages/app/index.js
  src/pages/app/vault/investments.js
  src/v2/components/App/Vault/InvestmentCard.js
  src/v2/components/App/Vault/InvestmentsGrid.js
  src/v2/components/App/Vault/InvestmentsList.js
  src/v2/components/ui/dynamic-icon.js
  src/v2/hooks/useInvestmentsData.js
  src/v2/modules/opportunities/SingleOfferCard.js
  src/v2/modules/vault/Announcements.js
Due: eslint --fix --cache, prettier --write

fix(fixing-errors): prevent from error on history page, make changes on otc
  src/v2/components/Timeline/OTCMessage.js
  src/v2/components/Timeline/TimelineItem.js
  src/v2/components/Timeline/TimelineTransaction.js
  src/v2/modules/otc/Markets/SingleMarket.js
  src/v2/modules/otc/Modals/CancelOfferModal/index.js
  src/v2/modules/otc/Modals/MakeOfferModal/index.js
  src/v2/modules/otc/Modals/MakeOfferModal/useCreateOfferModalLogic.js
  src/v2/modules/otc/Modals/TakeOfferModal/index.js
Due: eslint --fix --cache, prettier --write

chore: fix dynamic import
  src/pages/index.js
Due: eslint --fix --cache, prettier --write

chore: fix dynamic import (#376)
  src/pages/index.js
Due: eslint --fix --cache, prettier --write

fix(otc-unleashed): fixed otc unleashed on develop
  server/controllers/offerDetails.js
  server/controllers/upgrade.js
  server/queries/environment.query.js
  server/queries/invest.query.js
  server/queries/offers.query.js
  src/lib/investment.js
Due: eslint --fix --cache, prettier --write

chore: more memory and cpu for staging
  .aws/staging-task-definition.json
Due: prettier --write

chore: more memory and cpu for staging (#379)
  .aws/staging-task-definition.json
Due: prettier --write

fix(offers): fixed offers query
  server/queries/invest.query.js
  src/pages/app/offer/index.js
Due: eslint --fix --cache, prettier --write

fix(invest): removed unused variables
  server/queries/invest.query.js
Due: eslint --fix --cache, prettier --write

chore: more memory for runner
  .github/workflows/staging.deploy.yml
Due: prettier --write

chore: more memory for runner (#383)
  .github/workflows/staging.deploy.yml
Due: prettier --write

update docker
  Dockerfile
Due: none

fix: not used and wrong dependencies
  .eslintrc.js
  package.json
  server/queries/notifications.query.js
  src/fetchers/offer.fetcher.js
  src/pages/app/offer/index.js
  src/v2/components/ui/date-picker.js
  src/v2/modules/notifications/NotificationFilters.js
  yarn.lock
Due: eslint --fix --cache, prettier --write

fix: not used and wrong dependencies (#385)
  .eslintrc.js
  package.json
  server/queries/notifications.query.js
  src/fetchers/offer.fetcher.js
  src/pages/app/offer/index.js
  src/v2/components/ui/date-picker.js
  src/v2/modules/notifications/NotificationFilters.js
  yarn.lock
Due: eslint --fix --cache, prettier --write

Experimental: adding self-hosted runner and broading the runner requirements
  .github/workflows/staging.deploy.yml
Due: prettier --write

Revert "Experimental: self-hosted runner"
  .github/workflows/staging.deploy.yml
Due: prettier --write

Update staging.deploy.yml
  .github/workflows/staging.deploy.yml
Due: prettier --write

fix(errors): fixed errors
  server/queries/notifications.query.js
  src/v2/assets/svg/two-chains.svg
  src/v2/components/BlockchainSteps/index.js
  src/v2/enum/notifications.js
  src/v2/modules/otc/Modals/MakeOfferModal/useCreateOfferModalLogic.js
Due: eslint --fix --cache, prettier --write

fix(errors): update make offer modal
  src/v2/modules/otc/Modals/MakeOfferModal/index.js
Due: eslint --fix --cache, prettier --write

add space
  server/queries/notifications.query.js
Due: eslint --fix --cache, prettier --write

fix
  .aws/staging-task-definition.json
  .github/workflows/staging.deploy.yml
  github-action-key
  github-action-key.pub
Due: prettier --write

fix
  github-action-key
  github-action-key.pub
Due: none

feat(offer-details-phases): add tooltip
  package.json
  src/pages/app/offer/[slug].js
  src/v2/components/ui/tooltip.js
  src/v2/hooks/usePhaseInvestment.js
  src/v2/modules/offer/Phases.js
Due: eslint --fix --cache, prettier --write

feat(offer-details-phases): add tooltip provider
  src/pages/_app.js
Due: eslint --fix --cache, prettier --write

feat(offer-details-phases): add yarn lock
  yarn.lock
Due: none

fix
  .github/workflows/staging.deploy.yml
Due: prettier --write

feat(offer-details-phases): create new phases block and countdown
  src/v2/components/Countdown/index.js
  src/v2/components/Countdown/useCountdown.js
  src/v2/hooks/usePhaseInvestment.js
  src/v2/hooks/usePhaseTimeline.js
  src/v2/modules/offer/Phases.js
  src/v2/modules/offer/Phases/SinglePhase.js
  src/v2/modules/offer/Phases/index.js
Due: eslint --fix --cache, prettier --write

Remove cache
  index.js
Due: eslint --fix --cache, prettier --write

fix: update invest input abi
  abi/InvestFacet.abi.json
  server/queries/invest.query.js
  src/components/App/Offer/InvestModal.js
  src/components/App/Offer/OfferDetailsInvestPhases.js
  src/components/BlockchainSteps/utils.js
  src/lib/investment.js
  src/pages/app/offer/[slug].js
Due: eslint --fix --cache, prettier --write

fix: staging config
  .aws/staging-task-definition.json
  .github/workflows/staging.deploy.yml
  index.js
Due: eslint --fix --cache, prettier --write

CU-86b21mqa5 - New Design - Offer Details Overview
  src/v2/assets/svg/download.svg
  src/v2/assets/svg/language.svg
  src/v2/components/ui/button.js
  src/v2/constants.js
  src/v2/hooks/useImage.js
  src/v2/hooks/useResearchAssets.js
  src/v2/modules/offer/Overview.js
  src/v2/modules/opportunities/useSingleOfferLogic.js
Due: eslint --fix --cache, prettier --write

CU-86b21mqa5 - New Design - Offer Details Overview (#394)
  src/v2/assets/svg/download.svg
  src/v2/assets/svg/language.svg
  src/v2/components/ui/button.js
  src/v2/constants.js
  src/v2/hooks/useImage.js
  src/v2/hooks/useResearchAssets.js
  src/v2/modules/offer/Overview.js
  src/v2/modules/opportunities/useSingleOfferLogic.js
Due: eslint --fix --cache, prettier --write

updated based terms
  src/components/Legal/Privacy_based.js
  src/components/Legal/ToS_based.js
Due: eslint --fix --cache, prettier --write

neo tokio terms update
  src/components/Legal/Privacy_neotokyo.js
  src/components/Legal/ToS_neotokyo.js
Due: eslint --fix --cache, prettier --write

CU-86b21mypp - New Design - Offer Details Fundraise
  server/queries/offers.query.js
  src/pages/app/offer/[slug].js
  src/v2/components/ui/progress.js
  src/v2/modules/offer/Fundraise.js
  src/v2/modules/offer/History.js
  src/v2/modules/offer/Invest.js
  src/v2/modules/offer/Overview.js
  src/v2/modules/offer/Phases/index.js
  src/v2/modules/offer/Vesting.js
  src/v2/modules/offer/queries.js
  src/v2/modules/opportunities/useSingleOfferLogic.js
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{js,css,jsx}
  prettier --write: (any of: *.{js,css,jsx}) or (any of: *.{json,md,yml})
